<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546473234311-511m13erocmi67d2qvmrf29hk924qkpg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546473234311-511m13erocmi67d2qvmrf29hk924qkpg</string>
	<key>API_KEY</key>
	<string>AIzaSyANA8YGUMNICV9A89cxXs8R1M-H4_hj8A0</string>
	<key>GCM_SENDER_ID</key>
	<string>546473234311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.spreaditCrossplatform</string>
	<key>PROJECT_ID</key>
	<string>spreadit-5a997</string>
	<key>STORAGE_BUCKET</key>
	<string>spreadit-5a997.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546473234311:ios:ff8ce01e89aebed4cb4d22</string>
</dict>
</plist>